.ant-table-wrapper {
   display: flex;
   align-items: center ;
   margin-bottom: 16px;
   
}

.ant-card {
    table {
        width: 100%;
        margin-bottom: 16px;
    
        th, td {
          padding: 12px 16px;
          text-align: left;
          border: 1px solid #f0f0f0;
        }
    
        th {
          background-color: #fafafa;
          font-weight: 600;
        }
    
        tr:hover {
          background-color: #f5f5f5;
        }
    }
}