@use "../../styles/variables" as *;

.user-details-card {
    
    margin: $spacing-lg auto;
    padding: $spacing-lg;
    background-color: #fff;

    h1 {
        font-size: 22px;
        color: $primary-color;
        text-align: center;
        margin-bottom: $spacing-lg;
        border-bottom: 1px solid $border-color;
        padding-bottom: $spacing-sm;
      }
    
      h3 {
        margin-top: $spacing-lg;
        color: $primary-color;
        font-size: 18px;
        border-left: 4px solid $primary-color;
        padding-left: $spacing-sm;
      }
     
}